<template>
  <v-container class="bg-surface-variant">
    <v-row no-gutters>
      <v-col cols="12" md="4">
        <slot name="clients">
          <h1>Default Client</h1>
        </slot>
      </v-col>
      <v-col cols="12" md="4">
        <slot  name="locations">
          <h1>Default Location</h1>
        </slot>
      </v-col>
      <v-col cols="12" md="4">
        <slot  name="logs">
          <h1>Default Log</h1>
        </slot>
      </v-col>
    </v-row>
  </v-container>
</template>