<template>
    <div class="text-center">
        <v-dialog v-model="AddClientDialogIsActive" activator="parent" width="600" attach="body">
          <v-card>
          <v-card-title>
            <span class="text-h5">Új ügyfél</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model=clients.newClientName
                  variant="outlined"
                  placeholder="Név"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small></small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue-darken-1"
              variant="text"
              @click="toggleAddClientDialog"
            >
              Mégse
            </v-btn>
            <v-btn
              color="blue-darken-1"
              variant="tonal"
              @click="createClientFunction(clients.newClientName)"
            >
              Mentés
            </v-btn>
          </v-card-actions>
        </v-card>
        </v-dialog>
    </div>
  </template>
  
  <script setup>
  
    const ClientsStore = useClientsStore();
    const {  createClient } = ClientsStore;
  
    const stateStore = useStateStore();
    const { toggleAddClientDialog, resteNewClientName } = stateStore;
    const {  AddClientDialogIsActive, clients } = storeToRefs(stateStore);
  
    async function createClientFunction(name) {
      await createClient(name);
      resteNewClientName;
      toggleAddClientDialog();
    }
  
  
  </script>
  