<template>
  <div class="text-center">
    <v-dialog
      v-model="DeleteClientDialogIsActive"
      activator="parent"
      width="auto"
    >
      <v-card>
        <v-card-title class="text-h5">
          Ügyfél törlése: {{ getSelectedClient.Name }}
        </v-card-title>
        <v-card-text>Biztosan törlöd az ügyfelet?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-darken-1"
            variant="tonal"
            @click="deleteClientFunction(getSelectedClient)"
          >
            Igen
          </v-btn>
          <v-btn variant="text" @click="toggleDeleteClientDialog()"> Nem </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
const stateStore = useStateStore();
const { toggleDeleteClientDialog } = stateStore;
const { getSelectedClient, DeleteClientDialogIsActive } = storeToRefs(stateStore);

const ClientsStore = useClientsStore();
const { deleteClient } = ClientsStore;

async function deleteClientFunction(client) {
  deleteClient(client);
  toggleDeleteClientDialog();
}
</script>