<template>
  <div class="text-center">
      <v-dialog v-model="EditClientDialogIsActive" activator="parent" width="600">
        <v-card>
        <v-card-title>
          <span class="text-h5">{{ getSelectedClient.Name }} szerkesztése</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model=getSelectedClient.Name
                variant="outlined"
                placeholder="Név"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small></small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="toggleEditClientDialog()"
          >
            Mégse
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="tonal"
            @click="editClientFunction(getSelectedClient.ID, getSelectedClient.Name)"
          >
            Mentés
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-dialog>
  </div>
</template>

<script setup>
  const ClientsStore = useClientsStore();
  const {  editClient } = ClientsStore;

  const stateStore = useStateStore();
  const { toggleEditClientDialog } = stateStore;
  const { EditClientDialogIsActive, getSelectedClient } = storeToRefs(stateStore);

  async function editClientFunction(client, newName) {
    await editClient(client, newName)
    toggleEditClientDialog()
  }


</script>