<template>
    <v-sheet
      class="d-flex mb-2 pa-1 elevation-5 rounded"
      :class="{ 'bg-blue-accent-1': checkActiveLocation(location) }"
      style="display: flex; align-items: center"
      height="50"
      v-ripple
      @click="selectWorkLogFunction(location)"
    >
      <v-sheet color="transparent" class="me-auto"
        >{{ location.ID }} {{ location.Name }}</v-sheet
      >
      <v-sheet class="px-2" color="transparent" v-if="checkActiveLocation(location)"
        ><v-btn
          variant="flat"
          color="blue-darken-3"
          icon="mdi-pencil"
          size="small"
          class="mx-1"
          @click="toggleEditLocationDialog()"
        ></v-btn>
        <v-btn
          variant="flat"
          color="red-darken-1"
          icon="mdi-delete"
          size="small"
          class="mx-1"
          @click="toggleDeleteLocationDialog()"
        ></v-btn
      ></v-sheet>
    </v-sheet>

</template>
<script setup>
const props = defineProps(["location"]);

const WorkLogsStore = useWorkLogsStore();
const { fetchWorkLogsByLocation } = WorkLogsStore;

const stateStore = useStateStore();
const { toggleEditLocationDialog, toggleDeleteLocationDialog } = stateStore;
const { selectLocation, checkActiveLocation } = stateStore;

async function selectWorkLogFunction(location){
  await fetchWorkLogsByLocation(location.ID);
  selectLocation(location);
}

</script>
