<template>
  <v-sheet class="ma-2 pa-2" v-if="locationsByClient">
    <locations-list-item
      v-for="location in locationsByClient"
      :key="location.ID"
      :location="location"
    ></locations-list-item>
    <v-btn v-if="getSelectedClient"
      variant="flat"
      color="primary"
      icon="mdi-plus"
      @click="toggleAddLocationDialog()"
    ></v-btn>
  </v-sheet>
  <locations-dialogs-add></locations-dialogs-add>
  <locations-dialogs-delete></locations-dialogs-delete>
  <locations-dialogs-edit></locations-dialogs-edit>
  
</template>

<script setup>
const LocationsStore = useLocationsStore();
const { fetchLocationsByClient, createLocation } = LocationsStore;
const { locationsByClient } = storeToRefs(LocationsStore);

const stateStore = useStateStore();
const { toggleAddLocationDialog } = stateStore;
const { getSelectedClient } = storeToRefs(stateStore);

</script>

<style></style>
