<template>
  <v-sheet class="ma-2 pa-2">
      <clients-list-item v-for="client in clients" :key="client.ID" :client="client"></clients-list-item>
    <v-btn
      variant="flat"
      color="primary"
      icon="mdi-plus"
      @click="toggleAddClientDialog()"
    ></v-btn>
  </v-sheet>
  <clients-dialogs-add></clients-dialogs-add>
  <clients-dialogs-edit></clients-dialogs-edit>
  <clients-dialogs-delete></clients-dialogs-delete>
</template>

<script setup>

const ClientsStore = useClientsStore();
const { fetchClients } = ClientsStore;
const { clients } = storeToRefs(ClientsStore);

const stateStore = useStateStore();
const { toggleAddClientDialog } = stateStore;

await fetchClients();


</script>

<style>

</style>