<template>
  
    <v-sheet
      class="d-flex mb-2 pa-1 elevation-5 rounded"
      :class="{ 'bg-blue-accent-1': checkActiveClient(client) }"
      style="display: flex; align-items: center"
      height="50"
      v-ripple
      @click="selectClientFunction(client)"
    >
      <v-sheet color="transparent" class="me-auto"
        >{{ client.ID }} {{ client.Name }}</v-sheet
      >
      <v-sheet class="px-2" color="transparent" v-if="checkActiveClient(client)"
        ><v-btn
          variant="flat"
          color="blue-darken-3"
          icon="mdi-pencil"
          size="small"
          class="mx-1"
          @click="toggleEditClientDialog()"
        ></v-btn>
        <v-btn
          variant="flat"
          color="red-darken-1"
          icon="mdi-delete"
          size="small"
          class="mx-1"
          @click="toggleDeleteClientDialog()"
        ></v-btn
      ></v-sheet>
    </v-sheet>

</template>
<script setup>
const props = defineProps(["client"]);

const stateStore = useStateStore();
const { toggleEditClientDialog, toggleDeleteClientDialog } = stateStore;
const { selectClient, checkActiveClient } = stateStore;

const LocationsStore = useLocationsStore();
const { fetchLocationsByClient } = LocationsStore;

async function selectClientFunction(client){
  await fetchLocationsByClient(client);
  selectClient(client)

}


</script>
