
<template>
  <div class="text-center">
    <v-dialog
      v-model="AddLocationDialogIsActive"
      activator="parent"
      width="600"
      attach="body"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Új telephely</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.new.Name"
                  variant="outlined"
                  placeholder="Név"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.new.Zip"
                  variant="outlined"
                  placeholder="Irányítószám"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.new.City"
                  variant="outlined"
                  placeholder="Város"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.new.Address"
                  variant="outlined"
                  placeholder="Cím"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small></small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="toggleAddLocationDialog"
          >
            Mégse
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="tonal"
            @click="createLocationFunction()"
          >
            Mentés
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
const LocationsStore = useLocationsStore();
const { createLocation } = LocationsStore;

const stateStore = useStateStore();
const { toggleAddLocationDialog, resetNewLocation, setNewLocationClientID } = stateStore;
const { AddLocationDialogIsActive, getSelectedClient, locations } = storeToRefs(stateStore);

async function createLocationFunction() {
  setNewLocationClientID(getSelectedClient.value.ID)
  await createLocation(locations.value.new, getSelectedClient);
  resetNewLocation();
  toggleAddLocationDialog();
}
</script>
