<template>
  <div class="text-center">
    <v-dialog
      v-model="DeleteLocationDialogIsActive"
      activator="parent"
      width="auto"
    >
      <v-card>
        <v-card-title class="text-h5">
          Ügyfél törlése: {{ getSelectedLocation.Name }}
        </v-card-title>
        <v-card-text>Biztosan törlöd a telephelyet?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-darken-1"
            variant="tonal"
            @click="deleteLocationFunction(getSelectedLocation)"
          >
            Igen
          </v-btn>
          <v-btn variant="text" @click="toggleDeleteLocationDialog()"> Nem </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
const stateStore = useStateStore();
const { toggleDeleteLocationDialog } = stateStore;
const { getSelectedLocation, getSelectedClient, DeleteLocationDialogIsActive } = storeToRefs(stateStore);

const LocationsStore = useLocationsStore();
const { deleteLocation } = LocationsStore;

async function deleteLocationFunction(location) {
  deleteLocation(location, getSelectedClient.value);
  toggleDeleteLocationDialog();
}
</script>