<template>
  <div class="text-center">
      <v-dialog v-model="EditLocationDialogIsActive" activator="parent" width="600">
        <v-card>
        <v-card-title>
          <span class="text-h5">{{ getSelectedLocation.Name }} szerkesztése</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.edit.Name"
                  variant="outlined"
                  placeholder="Név"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.edit.Zip"
                  variant="outlined"
                  placeholder="Irányítószám"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.edit.City"
                  variant="outlined"
                  placeholder="Város"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="locations.edit.Address"
                  variant="outlined"
                  placeholder="Cím"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small></small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="toggleEditLocationDialog()"
          >
            Mégse
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="tonal"
            @click="editLocationFunction()"
          >
            Mentés
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-dialog>
  </div>
</template>

<script setup>
  const LocationsStore = useLocationsStore();
  const {  editLocation } = LocationsStore;

  const stateStore = useStateStore();
  const { toggleEditLocationDialog, resetEditLocation } = stateStore;
  const { EditLocationDialogIsActive, getSelectedLocation, getSelectedClient, locations } = storeToRefs(stateStore);

  async function editLocationFunction() {
    await editLocation(locations.value.edit, getSelectedLocation.value.ID, getSelectedClient.value)
    resetEditLocation()
    toggleEditLocationDialog()
  }


</script>