<template>
  <NuxtLayout name="main">
    <template #clients>
      <Clients></Clients>
    </template>
    <template #locations>
      <Locations></Locations>
    </template>
    <template #logs>
      <Worklogs></Worklogs>
    </template>
  </NuxtLayout>
</template>

<script setup>


</script>
