<template>
    <v-sheet
      class="d-flex mb-2 pa-1 elevation-5 rounded"
      :class="{ 'bg-blue-accent-1': checkActiveWorkLog(workLog) }"
      style="display: flex; align-items: center"
      height="50"
      v-ripple
      @click="selectWorkLog(workLog)"
    >
      <v-sheet color="transparent" class="me-auto"
        >{{ workLog.ID }} {{ new Date(workLog.StartTime).toISOString().substr(0, 10)  }}</v-sheet
      >
      <v-sheet class="px-2" color="transparent" v-if="checkActiveWorkLog(workLog)"
        >
        <v-btn
          variant="flat"
          color="red-darken-1"
          icon="mdi-delete"
          size="small"
          class="mx-1"
          @click="toggleDeleteWorkLogDialog()"
        ></v-btn
      ></v-sheet>
    </v-sheet>

</template>
<script setup>
const props = defineProps(["workLog"]);

const WorkLogsStore = useWorkLogsStore();
const { fetchWorkLogsByWorkLog } = WorkLogsStore;

const stateStore = useStateStore();
const { toggleEditWorkLogDialog, toggleDeleteWorkLogDialog } = stateStore;
const { selectWorkLog, checkActiveWorkLog } = stateStore;

</script>