<template>
  <v-sheet class="ma-2 pa-2" v-if="workLogsByLocation">
    <worklogs-list-item
      v-for="workLog in workLogsByLocation"
      :key="workLog.ID"
      :workLog="workLog"
    ></worklogs-list-item>
    <v-btn
      v-if="getSelectedLocation"
      variant="flat"
      color="primary"
      icon="mdi-plus"
      @click="toggleAddWorkLogDialog()"
    ></v-btn>
  </v-sheet>
  <worklogs-dialogs-add></worklogs-dialogs-add>
  <worklogs-dialogs-delete></worklogs-dialogs-delete>
</template>

<script setup>
const WorkLogsStore = useWorkLogsStore();
const { workLogsByLocation } = storeToRefs(WorkLogsStore);

const stateStore = useStateStore();
const { toggleAddWorkLogDialog } = stateStore;
const { getSelectedLocation } = storeToRefs(stateStore);
</script>

<style></style>
