<template>
  <div class="text-center">
    <v-dialog
      v-model="AddWorkLogDialogIsActive"
      activator="parent"
      width="600"
      attach="body"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Új Munkaidő</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row justify="space-around">
              <v-date-picker v-model="workLogs.newDate"></v-date-picker>
            </v-row>
          </v-container>
          <small></small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="toggleAddWorkLogDialog"
          >
            Mégse
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="tonal"
            @click="createWorkLogFunction()"
          >
            Mentés
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
const WorkLogsStore = useWorkLogsStore();
const { createWorkLog } = WorkLogsStore;

const stateStore = useStateStore();
const { toggleAddWorkLogDialog, setNewWorkLog } = stateStore;
const { AddWorkLogDialogIsActive, workLogs, getNewDate, getSelectedLocation } = storeToRefs(stateStore);

const newWorkLogName = "";


async function createWorkLogFunction() {
  if (getSelectedLocation){
    setNewWorkLog(getSelectedLocation.value.ID, `${getNewDate.value}T08:00:00`, `${getNewDate.value}T16:00:00`)
    await createWorkLog(workLogs.value.new);
  }
  toggleAddWorkLogDialog();
}
</script>
