<template>
  <div class="text-center">
    <v-dialog
      v-model="DeleteWorkLogDialogIsActive"
      activator="parent"
      width="auto"
    >
      <v-card>
        <v-card-title class="text-h5">
          Munkaidő törlése
        </v-card-title>
        <v-card-text>Biztosan törlöd a munkaidőt?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-darken-1"
            variant="tonal"
            @click="deleteWorkLogFunction(getSelectedWorkLog)"
          >
            Igen
          </v-btn>
          <v-btn variant="text" @click="toggleDeleteWorkLogDialog()"> Nem </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
const stateStore = useStateStore();
const { toggleDeleteWorkLogDialog } = stateStore;
const { getSelectedWorkLog, getSelectedClient, getSelectedLocation, DeleteWorkLogDialogIsActive } = storeToRefs(stateStore);

const WorkLogsStore = useWorkLogsStore();
const { deleteWorkLog } = WorkLogsStore;

async function deleteWorkLogFunction(workLog) {
  deleteWorkLog(workLog, getSelectedLocation.value);
  toggleDeleteWorkLogDialog();
}
</script>